div#display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title ready"
                       "left right";
}

h1#title {
  grid-area: title;
}

div#ready {
  grid-area: ready;
}

div#myBoardContainer {
  grid-area: left;
}

div#otherBoardContainer {
  grid-area: right;
}

div.boardContainer {
  padding-left: 3em;
}

table.gameboard {
  border-collapse: separate;
}

td.tile {
  cursor: pointer;
  color: #CBCBCC;
  width: 2em;
  height: 2em;
  background-color: #CBCBCC;
  border-right: 5px solid #929292;
  border-bottom: 5px solid #929292;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
}

td.tile.open {
  color: black;
  background-color: #CBCBCC;
  border-right: 5px solid #CBCBCC;
  border-bottom: 5px solid #CBCBCC;
  border-top: 5px solid #929292;
  border-left: 5px solid #929292;
}

td.tile[surrounding="0"] {
  color: #CBCBCC;
}
td.tile[surrounding="1"] {
  color: blue;
}
td.tile[surrounding="2"] {
  color: green;
}
td.tile[surrounding="3"] {
  color: red;
}
td.tile[surrounding="4"] {
  color: purple;
}
td.tile[surrounding="5"] {
  color: maroon;
}
td.tile[surrounding="6"] {
  color: turquoise;
}
td.tile[surrounding="7"] {
  color: black;
}

td.tile[surrounding="8"] {
  color: #444;
}

td.tile.flagged {
  color: red;
  font-weight: bold;
  content: "F";
}

td.tile.isMine {
  color: red;
  font-weight: bold;
}

td.tile.open.isMine {
  background-color: red;
  color: white;
  border: 5px solid red;
}
